
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    background-image: url('https://www.cashadvance6online.com/data/archive/img/475202416.jpeg');
    background-size: cover;
}

/* Etch A Sketch Body */

.mainbody {
    border: 2px rgb(160, 0, 0) solid;
    background-color: rgb(216, 45, 45);
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    margin-top: 12px;
}

/* Title */

h1 {
    text-align: center;
    font-style: italic;
    color: rgb(236, 236, 84);
}

/* Grid CSS */

.theDiv {
    display: flex;
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
}

.new {
    display: flex;
    flex-grow: 1;
}

.vertical-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Buttons UI */

.buttons {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 18px 0px;
    padding: 12px 0px;
    background-color: rgb(252, 249, 216);
    border-radius: 10px;
}

.buttons * {
    color: rgb(216, 45, 45);
    font-style: italic;
    flex: 1;
    text-align: center;
    margin: 0;
}

h3 {
    padding-top :10px;
}


/* Slider */

.slider-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttondiv, .rainbow {
    align-self: center;
}

/* Colour Picker */

.chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#colour-picker {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 20px;
    width: 50%;
    height: 20px;
}

/* Reset Button */

.buttondiv button {
    background-color: rgb(184, 38, 38);
    padding: 12px 28px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: rgb(236, 236, 84);
}

/* Rainbow Mode Button */

.buttondiv button:hover, .rainbow button:hover {
    background-color: #b82626c4;
}

.rainbow button {
    background-color: #b82626;
    padding: 12px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: #ecec54;
}



